<!-- about.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>About Us</title>
</head>

<body>
    <!--navbar -->
    <%- include('partials/navbar', {page: ''}) %>

    <div class="container mx-auto">
        <div class="hero min-h-screen bg-base-200">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold">About</h1>
                    <p class="py-6">All About Me</p>
                    <a href="/lego/editSet/<%= set.set_num %>" class="btn btn-success">Edit Set</a>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
            <div class="border-2">
                Most of the time
                <a href="https://tse1.explicit.bing.net/th?id=OIP.AwcxgqXD9NU6TiPeGHDrcAHaE8&pid=Api&P=0&h=180">
                    <img src="https://tse1.explicit.bing.net/th?id=OIP.AwcxgqXD9NU6TiPeGHDrcAHaE8&pid=Api&P=0&h=180" alt="Your Image">
                </a>
            </div>

            <div class="border-2">
                <p>I am in my 3rd semester, I have completed Web222 last semester, one of my hobbies is playing football</p>
            </div>
        </div>
    </div>
</body>

</html>
